.switch{
    position: relative;
    display: inline-block;
    width: 80px;
    height: 35px;
    margin: 10px 10px;
}

.slider{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--captcha-background);
    transition: 0.4s;
    border-radius: 35px;
}

.switch input {
    display: none;
}

.slider::before{
    position: absolute;
    content: "";
    height: 30px;
    width: 30px;
    left: 3px;
    bottom: 3px;
    background-color: var(--background-color);
    border-radius: 50%;
}

input:checked + .slider{
    background-color: var(--captcha-background);
}

input:checked + .slider::before{
    transform: translateX(45px);
}